*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f6f6ec;
}
p {
    margin: 0;
}
.container {
    max-width: 60%;
    margin: 0 auto;
}
.main-title {
    font-size: 2em;
    line-height: 2.5;
    margin: 0;
    border-bottom: 1px solid black;
}
.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.meme {
    border-bottom: 1px solid #e3e7e7;
}
.label__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}
.meme__input {
    display: none;
}
.meme__img {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    max-height: 0;
}
.meme__input:checked + label .plus,
.meme:hover .plus {
    transform: rotate(45deg);
}
.meme__input:checked + label .meme__img,
.meme:hover .meme__img {
    overflow: visible;
    max-height: 100000px;
    margin-bottom: 20px;
}
.plus {
    font-size: .7em;
    line-height: 2em;
    font-weight: 700;
}
.accordion {
    width: 100%;
    font-size: 2em;
    font-weight: 700;
}

/* Реализуйте адаптивный дизайн с тремя контрольными точками. Аккордеон корректно отображается на мобильных 320х568, планшетных 820х1180, десктопных 1920х1080; */
/* Плавные переходы применяются для смены мемов и смены иконки; */
/* Размер шрифта должен быть изменен на каждом устройстве (мобильном, планшете, компьютере) */
/* Когда решение будет готово - откройте Pull Request из ветки gh-pages в основную ветку. Имя запроса на слияние должно совпадать с именем задачи.
Описание запроса на слияние должно соответствовать руководству. НЕ объединяйте этот запрос на слияние.
Ссылка на этот запрос на слияние должна быть отправлена ​​в форму перекрестной проверки. Пулл-реквест должен содержать полное описание — что было сделано, а что пропущено. */