*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f6f6ec;
    overflow-x: hidden;
}
p {
    margin: 10px 0;
    font-size: 1em;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.main-title {
    font-size: 1.5em;
    line-height: 2em;
    margin: 0;
    border-bottom: 1px solid black;
}
.accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
}
.meme {
    border-bottom: 1px solid #e3e7e7;
}
.meme__input {
    display: none;
}
.label__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}
.meme__img {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    max-height: 0;
    transition: all .3s;
}
.meme__input:checked + label .plus,
.meme:hover .plus {
    transform: rotate(45deg);
}
.meme__input:checked + label .meme__img,
.meme:hover .meme__img {
    max-height: 100000px;
    margin-bottom: 20px;
}
.plus {
    font-size: 1em;
    line-height: 2em;
    font-weight: 700;
    transition: all .3s;
}

@media (min-width: 820px) {
    .main-title {
        font-size: 2em;
    }
    p {
        font-size: 1.5em;
    }
    .plus {
        font-size: 1.5em;
    }
}

@media (min-width: 1180px) {
    p {
        font-size: 1em;
    }
    .container {
        max-width: 60%;
    }
    .main-title {
        font-size: 2.5em;
    }
    .plus {
        font-size: .7em;
    }
    .accordion {
        font-size: 2em;
        font-weight: 700;
    }
}

/* Когда решение будет готово - откройте Pull Request из ветки gh-pages в основную ветку. Имя запроса на слияние должно совпадать с именем задачи.
Описание запроса на слияние должно соответствовать руководству. НЕ объединяйте этот запрос на слияние.
Ссылка на этот запрос на слияние должна быть отправлена ​​в форму перекрестной проверки. Пулл-реквест должен содержать полное описание — что было сделано, а что пропущено. */